*{
    padding: 0;
    margin: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#heading{
    text-align: center;
    margin-top: 30px;
}

#heading2{
    text-align: center;
    color: grey;
}

section{
    padding: 56px;
    margin-bottom: 50px;
}

section h1{
    color: #FDD43E;
    margin-top: 20px;
}
section p{
    margin-top: 10px;
    color: gray;
}

/* //////////////////// */

.section-2{
    /* background-color: #FDD43E; */
    display: flex;
    justify-content: space-around;
    
}

.post-section-box{
    /* background-color: aqua; */
    width: 23.5vw;
    height: 450px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    border-radius: 15px;
    
}

#our-service-h1 h1{
    text-align: center;
    margin-top: 10px;
    margin-bottom: 40px;
    color: #FDD43E;
}
.post-section-box-content{
    margin-top: 15px;
    padding: 12px;
}

.post-section-box h3{
    margin-bottom: 20px;
    color: #FDD43E;
}
.post-section-box:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
/*  */

.section-2-another-div{
    /* background-color: #FDD43E; */
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
    margin-bottom: 30px;
}

/* ////////////// */

@media(max-width: 600px){
    .section-2{
        display: none        
    }

    .section-2-another-div{
        flex-direction: column;
        display: none;
    }
    #our-service-h1{
        display: none;
    }
}