{% load static %}
<!-- footer coding start -->
<footer>
    <div class="footer-main-box">
        <div class="footbox1">
            <h1>Logo</h1>
            <p>Our approach to SEO is uniquely built<br> around what we know work and what we<br> know doesn’t work. With over 200 verified <br>factors in play.</p>
            <p><i class="fa-brands fa-facebook"></i> <i class="fa-brands fa-linkedin"></i> <i class="fa-brands fa-instagram"></i> <i class="fa-brands fa-twitter"></i></p>
        </div>
        <div class="footbox2">
            <ul>
                <h2>Navigation</h4>
                <li>Home</li>
                <li>About us</li>
                <li>Our Services</li>
                <li>Our Work</li>
                <li>Events & Media</li>
                <li>Blogs</li>
                <li>Contacts</li>
            </ul>
        </div>
        <div class="footbox3">
            <ul>
                <h2>Services</h4>
                <li>Web Design & Development</li>
                <li>Social Media Marketing</li>
                <li>Serach Engine Optimization</li>
                <li>Paid Advertising</li>
                <li>Google ADS</li>
                <li>Events & Media</li>
                <li>Content Marketing</li>
                
            </ul>
        </div>
        <div class="footbox4">
            <ul>
                <h2>Contacts</h4>
                <li>Head Office Address: I P Colony<br> Sector 32, Faridabad, Haryana 121003</li>
                <li>Our Branch: Hamilton, Ontario, Canada</li>
                <li>Email: info@creativeimagin.com</li>
                <li>Phone: +91-7827856404</li>
                <li>Open: Mon 10:00 am - 07:00 pm</li>
               
            </ul>
        </div>
    </div>
    <div class="fbottombar">
        <p>Copyright © 2020 by Creative imagin. All Rights Reserved.</p>
    </div>
</footer>

<script src="/static/js/script.js"></script>
</body>
</html>