{% include "header.html" %}
<head>
<link rel="stylesheet" href="/static/css/our-services-style.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

    <h1 id ="heading">Our services</h1><br>
    <h4 id ="heading2">Home > Our services</h3>
    <!--  -->
    <div class="mainsection3">
        <div class="section3box1"><img src="/static/img/our-service-img.jpg" alt="" height="380px" width="500px"></div>
        <div class="section3box2">
            <h1>Empowering Your Business with Comprehensive Services</h2>
            <h2>“Unlocking Growth Opportunities: Explore Our Range of Services to Propel Your Success”</h3>
            <p>Discover our dynamic range of services designed to empower your business and unlock growth opportunities. From strategic planning and creative design to digital marketing and beyond, our comprehensive solutions are tailored to propel your success in today’s competitive landscape.

            </p>
        </div>
    </div>
    <!--main-container coding start  -->
    <div class="main-container-first-box">
    <div class="main-container">
        <div class="circle-container"><i class="fa-solid fa-hippo"></i>      
        </div>
        <div class="content">
        <h3>Web Development</h5>
        <p>Your website has to impress your visitors within just a few seconds.</p>
    </div>
    </div>
    <!-- main-container coding finish -->

    <div class="main-container">
        <div class="circle-container"><i class="fa-solid fa-hippo"></i>      
        </div>
        <div class="content">
        <h3>Web Development</h5>
        <p>Your website has to impress your visitors within just a few seconds.</p>
    </div>
    </div>

    <div class="main-container">
        <div class="circle-container"><i class="fa-solid fa-hippo"></i>      
        </div>
        <div class="content">
        <h3>Web Development</h5>
        <p>Your website has to impress your visitors within just a few seconds.</p>
    </div>
    </div>

</div>
<!-- /////////// -->

<div class="main-container-first-box2">
    <div class="main-container">
        <div class="circle-container"><i class="fa-solid fa-hippo"></i>      
        </div>
        <div class="content">
        <h3>Web Development</h5>
        <p>Your website has to impress your visitors within just a few seconds.</p>
    </div>
    </div>
    <!-- main-container coding finish -->

    <div class="main-container">
        <div class="circle-container"><i class="fa-solid fa-hippo"></i>      
        </div>
        <div class="content">
        <h3>Web Development</h5>
        <p>Your website has to impress your visitors within just a few seconds.</p>
    </div>
    </div>

    <div class="main-container">
        <div class="circle-container"><i class="fa-solid fa-hippo"></i>      
        </div>
        <div class="content">
        <h3>Web Development</h5>
        <p>Your website has to impress your visitors within just a few seconds.</p>
    </div>
    </div>

</div>



{% include "footer.html" %}